window {
    background-image: url("/home/jakobj/Photos/Wallpapers/Landscapes/Crater Lake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
 }